$optionHoverBg: rgb(216, 218, 229);

.left-side-bar-component {
  height: 100%;

  .top-menu {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;

    .user-info {
      .avatar {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        margin-right: 0.2rem;
        cursor: pointer;
      }
    }

    .top-menu-icon {
      display: flex;
      align-items: center;

      .icon {
        font-size: 18px;
        margin: 0 0.2rem;
        cursor: pointer;
      }
    }
  }


  .collapse-container {

    .collapse-header {
      display: flex;
      align-items: center;

      .heder-icon {
        margin-right: 0.4rem;
        font-size: 20px;
      }
    }

    .option {
      display: flex;
      align-items: center;
      padding: 0.5rem 0;
      cursor: pointer;

      &:hover {
        background: $optionHoverBg;
      }

      .option-icon {
        margin: 0 0.8rem 0 1.5rem;
        font-size: 20px;
      }

      .custom-icon {
        padding: 0.5rem;
        border: 0.1rem solid #666;
      }
    }

    .ant-collapse-item {
      border: none;
    }

    .ant-collapse {
      border: none;
    }

    .ant-collapse-content {
      border: none;
    }

    .ant-collapse-content-box {
      padding: 0;
    }
  }
}