.login-page {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: url('../../asset/images/login-bg.jpg') no-repeat;
    background-size: cover;
    -webkit-background-size: cover;

    .bg-bubble {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        z-index: 2;

        img {
            position: absolute;
        }

        img:nth-child(1) {
            left: 23rem;
            top: 14rem;
        }

        img:nth-child(2) {
            right: 21rem;
            top: 6rem;
        }

        img:nth-child(3) {
            left: 15rem;
            bottom: 1rem;
        }

        img:nth-child(4) {
            right: 3rem;
            bottom: -12rem;
        }
    }

    .logo-and-slogan {
        height: 5rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        font-size: 18px;
        color: #fff;
        padding: 1.4rem 0 0 2rem;

        .slogan {
            margin-left: 0.8rem;
        }

    }

    .login-content {
        min-height: calc(100vh - 5rem);
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
        padding-bottom: 2rem;
        box-sizing: border-box;
        overflow-x: hidden;

        .about-link {
            width: 100%;
            position: absolute;
            bottom: 2rem;
            left: 50%;
            transform: translate(-50%, 0px);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        
        
            a {
                margin: 0 0.5rem;
                color: #fff;
                font-size: 12px;
            }
        
            span {
                color: #fff;
                font-size: 12px;
            }
        
            img {
                margin-left: 2rem;
            }
        }
    }
}

.hide-item {
    display: none;
}