.login-main {
    width: 100%;
    bottom: 0rem;

    &>div {
        max-width: 100%;
    }

    .avatar {
        width: 8rem;
        height: 8rem;
        margin: 0 auto;
        border-radius: 8rem;
        overflow: hidden;
        border: 0.8rem solid hsla(0, 0%, 100%, .2);

        img {
            width: 100%;
        }
    }

    .info-form {
        width: 25rem;
        margin: 2rem auto;

        input {
            width: 100%;
            height: 52px;
            text-align: center;
            font-size: 16px;
            color: hsla(0, 0%, 100%, .8);
            background: hsla(0, 0%, 100%, .4);
            border-radius: 52px;
            border: none;
            outline: none;
            box-sizing: border-box;
        }

        .error-message {
            width: 10rem;
            position: absolute;
            top: 50%;
            right: -50%;
            transform: translate(0, -50%);
            color: #fff;
            font-size: 16px;
        }

        input:focus {
            box-shadow: 0 8px 18px 0 rgba(2, 92, 209, .57);
        }

        input::-webkit-input-placeholder {
            color: #fff;
        }

        input:-moz-placeholder {
            color: #fff;
        }

        input::-moz-placeholder {
            color: #fff;
        }

        input:-ms-input-placeholder {
            color: #fff;
        }

        .account-box {
            position: relative;
        }

        .password-box {
            position: relative;
            margin-top: 1.2rem;

            .login-btn {
                position: absolute;
                right: 1rem;
                top: 50%;
                transform: translate(0px, -50%) scaleX(1.2);
                cursor: pointer;
                color: #fff;
            }
        }

    }

    .register {
        width: 25rem;
        color: hsla(0, 0%, 100%, .8);
        margin: 2rem auto;
        display: flex;
        justify-content: space-between;

        span {
            cursor: pointer;
        }
    }

    .login-type {
        width: 25rem;
        margin: 3.6rem auto;
        display: flex;
        justify-content: center;

        .icon-box {
            width: 3rem;
            height: 3rem;
            border-radius: 10rem;
            font-size: 29px;
            line-height: 3.2rem;
            color: #fff;
            text-align: center;
            margin: 0 1.2rem;
            border: 1px solid #fff;
            cursor: pointer;
        }
    }
}

.hide-item {
    display: none;
}