.sidebar-component {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & > div {
        width: 100%;
        text-align: center;
        padding: 1rem 0;
        box-sizing: border-box;
    }

    .sidebar-middle {
       .record-icon-box, .today-icon-box {
            text-align: center;
            color: #fff;
            cursor: pointer;

            &.active {
                background: linear-gradient(90deg,#72b5f5,rgba(114,181,245,0));
            }
            
           img {
               display: block;
               margin: 0 auto;
               width: 3rem;
           }
       }

       .today-icon-box {
            margin-bottom: 1rem;
       }
    }

    .sidebar-bootom {
        .user-avatar {
            width: 3rem;
            height: 3rem;
            border-radius: 3rem;
            border: 2px solid #fff;
            cursor: pointer;
        }
    }
}

.hide-item {
    display: none !important;
}